header{
  width: 100%;
  height: 100px;
  text-align: left;
  background-color: #34A5DA;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold
  /* padding: 30px; */
}

body{
  width: 100vw;
  height: 100%;
  background-color: #222222;
  text-align: right
  
}

.App{
  width: 100vw;
  height: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.box1{
  width: 83%;
  height: 400px;
  background-color: white;
  margin-top: 8%;
}

.counter{
  font-weight: bold;
  font-size: 28px;
  margin-right: 5px
}

.name{
  font-size: 35px;
  text-align: left;
  margin: 0px 0px 15px 50px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline #34A5DA;
  
  /* text-decoration-thickness:  .1em;
  text-decoration-thicknes */
}

.info{
  text-align: left;
  margin: 0px 0px 2px 50px;
  font-size: 20px;
  font-weight: bold
}

.movies{
  text-align: left;
  margin: 25px 0px 2px 50px;
  font-size: 20px;
  font-weight: bold
}

.bullets{
  text-align: left;
  margin: 2px 0px 2px 100px;
  font-size: 18px;
  font-weight: 500;
  font-style: times;
}

.buttons{
  display:flex;
  /* width: 100%;
  justify-content:  */

}

.button{
  width: 60px;
  height: 30px;
  background-color: #34A5DA;
  border-radius: 11px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin: 10px 10px
  
}

.button2{
  width: 70px;
  height: 30px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-e;
  margin: 10px 170px;
  font-size: 14px;
  justify-content: center;
  font-weight: bold;
  border: #222222
}